*, *:before, *:after { box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

ul { padding: 0; margin: 0; }

.container {
    max-width: 1480px;
    margin: auto;
    text-align: center;
}

.wrapper {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*.product__card-wrapper*/

.product__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin: 0 auto; */
}

.product__card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 337px;
    margin: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.product__card-img-top {
    height: 173px;
    width: 124px;
    margin: 0 auto;
    padding: 16px;
}

.product__card-body {
    background-color: #D8DADB;
    overflow: hidden;
}


/*.nav__bar-search-menu*/

.nav__bar-search-menu {
    background-color: #F8F8F8;
}

.nav__bar-search {
    float:right;
    margin-right: 100px;
}

.nav__bar-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: auto;
}
.nav__bar-menu li{
    list-style-type: none;
}
.nav__bar-item {
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
}
.nav__bar-item a{
    text-decoration: none;
    color: #8D8D8D;
    background-color: transparent;
}

.nav__bar {
    overflow: hidden;
    margin: 0 5px;
}

.nav__bar a {
    float: left;
    display: block;
    color: #7C7C7C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav__bar a.active {
    color: black;
    border-bottom: 3px solid #FC4348;
}
.nav__bar a:hover {
    color: black;
    border-bottom: 3px solid #D8DADB;
}

.nav__bar .nav__bar-search {
    float: right;
    width: 236px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.nav__bar input[type=text] {
    padding-left: 40px;
    margin-top: 6px;
    font-size: 12pt;
    border: none;
    background-color: transparent;
    width: 325px;
    height: 43px;
}
.nav__bar-search form {
    border-bottom: 3px solid #D8DADB;
    position: absolute;
    height: 50px;
}
.nav__bar-search #icon {
    background-image: url(../svg/icons-16.svg);
    width: 20px;
    height: 27px;
    left: 5px;
    top: 14px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    font-size: 0;
    border: none;
}

.nav__bar-search input:focus{
    outline:none;
}
.nav__bar-search input:focus{
    position: absolute;
    top: 2px;
    border-bottom: 3px solid #43B6E2;
}

/*@media*/
@media screen and (max-width: 600px) {

    .product__card-wrapper {
        margin: 0 auto;
    }

    .nav__bar .nav__bar-search {
        float: none;
        margin: -40px auto;
    }
    .nav__bar-menu {
        padding-top: 48px;
    }
    .nav__bar {
        height: 100px;
    }

    .nav__bar input[type=text] {
        padding-left: 36px;
        margin-top: 3px;
        font-size: 12pt;
        border: 2px solid #D8DADB;
        background-color: white;
        border-radius: 3px;
        width: 262px;
        height: 41px;
    }

    .nav__bar-search form {
        border-bottom: none;

    }

    .nav__bar-search input:focus{
        top: 0px;
        border: 2px solid #43B6E2;
    }

    .nav__bar-search #icon {
        top: 11px;
    }
}
