/* legends */

.legends__block {
    display: block;
    margin: 35px;
    width: 705px;
    height: 530px;
    background-color: #000000;
}

.legends-columns {
    padding: 10px;
    height: 1060px;
}
.legends__text {
    text-align: center;
    font-size: larger;
}

.legends__text p {
    color: #fff;
}

.description p {
    color: red;
    font-weight: bold;
    font-size: 27px;
    margin: 34px 0 7px 0;
}

.description span {
    color: #fff;
}

.legends__diagram {
    display: inline-flex;
    margin: 0 37px;
}

.legends__diagram-blocks {
    margin: 0 10px;
    width: 100px;
    height: 35px;
    background-color: black;
    border: 0 solid black;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.legends__canvas-blocks {
    display: none;
}

.canvas__block {
    display: inline-flex;
    width: 45%;
    margin: 15px;
}

.canvas__item {
    width: 50%!important;
    height: 50%!important;
    margin: 0 15px;
}

.canvas__block .disciption {
    width: 50%!important;
}

.canvas__block .disciption p {
    font-size: 50px;
    color: red;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}
.canvas__block .disciption span {
    font-size: 16px;
    color: #fff;
}


/* tooltip */
.canvas__block {
    position: relative;
}
.canvas__block .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 73%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.canvas__block .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.canvas__block:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.canvas_images {
    position: absolute;
    top: 66px;
    left: 59px;
    width: 70px;
}
.canvas_images_wagon {
    position: absolute;
    top: 54px;
    left: 70px;
    width: 45px;
}

.legends__canvas-blocks {
    background-color: #fff;
}

.active {
    color: #000;
    background-color: #fff;
}